:root {
  --color-accent: #dda853;
  --color-primary: #27548a;
  --color-secondary: #183b4e;
  --color-background: #f5eedc;
  --color-text-light: #fff;
  --color-text-dark: #000;

  --drawer-width: 240px;
  --header-height: 58px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}
body {
  background-color: var(--color-background);
  color: var(--color-text-dark);
  height: 100vh;
  width: 100%;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}

/* utility classes */
.icon {
  width: 1.8rem;
  height: 1.8rem;
}
